@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:300,400,500,600,700);





body {
  font-family: Josefin Sans;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
}
#scrollToTop a i:before {
  background: #ffbc00;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
}
.mbr-arrow a i {
  color: #ffbc00;
}
.form-control {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #f9e2af;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5aeb5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("../../../data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f9e2af' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rPhkWu0NBc {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #efefef;
}
.cid-rPhkWu0NBc h2,
.cid-rPhkWu0NBc h3,
.cid-rPhkWu0NBc p,
.cid-rPhkWu0NBc h4 {
  color: #0a0a0a;
}
.cid-rPhkWu0NBc .img-block img {
  height: 100%;
  max-height: 600px;
}
.cid-rPhkWu0NBc .mbr-iconfont {
  color: #f9e2af;
  font-size: 2rem;
}
.cid-rPhkWu0NBc .form-control {
  box-shadow: none;
  margin-bottom: 15px;
  padding: 1.07em 1.07em;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
  color: #656565;
  line-height: 1.43;
  min-height: 3.5em;
  border-radius: .25rem;
}
.cid-rPhkWu0NBc .form-control:focus,
.cid-rPhkWu0NBc .form-control:hover {
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
}
.cid-rPhkWu0NBc .form-group {
  margin-bottom: 1rem;
}
.cid-rPhkWu0NBc input::-webkit-input-placeholder,
.cid-rPhkWu0NBc textarea::-webkit-input-placeholder {
  color: #656565;
}
.cid-rPhkWu0NBc input:-moz-placeholder,
.cid-rPhkWu0NBc textarea:-moz-placeholder {
  color: #656565;
}
.cid-rPhkWu0NBc .jq-selectbox li,
.cid-rPhkWu0NBc .jq-selectbox li {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-rPhkWu0NBc .jq-selectbox li:hover,
.cid-rPhkWu0NBc .jq-selectbox li.selected {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-rPhkWu0NBc .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-rPhkWu0NBc .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-rPhkWu0NBc .mbr-text {
  color: #767676;
}
.cid-rPhkWu0NBc a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rPhkWu0NBc .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rPhkWu0NBc .form-block {
  padding: 2rem;
  box-shadow: 0 0 5px #a8a8a8;
  background-color: #ffffff;
}
.cid-rPhkWu0NBc textarea.form-control {
  resize: none;
}
.cid-rPhkWu0NBc .card-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  text-align: center;
}
.cid-rPhkWu0NBc .media-container-row {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (max-width: 767px) {
  .cid-rPhkWu0NBc h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-rPhkWu0NBc .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rPhkWu0NBc .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
  .cid-rPhkWu0NBc .img-block-wrap {
    position: relative;
  }
  .cid-rPhkWu0NBc .img-block-wrap .img-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .cid-rPhkWu0NBc .img-block-wrap .img-block img {
    height: 100%;
  }
  .cid-rPhkWu0NBc .text-content {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-rPhkWu0NBc .google-map {
    padding-bottom: 2rem;
  }
  .cid-rPhkWu0NBc .img-block {
    overflow: hidden;
  }
}
.cid-rPhkWu0NBc P {
  text-align: right;
}
.cid-rPhvtILhxv {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #b2ccd2;
}
.cid-rPhvtILhxv h4 {
  margin-bottom: 0;
  text-align: left;
}
.cid-rPhvtILhxv .card-box {
  padding-top: 3rem;
}
.cid-rPhvtILhxv .mbr-link-btn {
  width: 100%;
  text-align: center;
}
.cid-rPhvtILhxv .btn-md {
  padding: 1rem;
}
.cid-rPhvtILhxv .btn-primary-outline,
.cid-rPhvtILhxv .btn-secondary-outline,
.cid-rPhvtILhxv .btn-info-outline,
.cid-rPhvtILhxv .btn-success-outline,
.cid-rPhvtILhxv .btn-warning-outline,
.cid-rPhvtILhxv .btn-danger-outline,
.cid-rPhvtILhxv .btn-black-outline,
.cid-rPhvtILhxv .btn-white-outline {
  border: none;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0 0.25rem!important;
  box-shadow: none!important;
}
.cid-rPhvtILhxv .btn-primary-outline span,
.cid-rPhvtILhxv .btn-secondary-outline span,
.cid-rPhvtILhxv .btn-info-outline span,
.cid-rPhvtILhxv .btn-success-outline span,
.cid-rPhvtILhxv .btn-warning-outline span,
.cid-rPhvtILhxv .btn-danger-outline span,
.cid-rPhvtILhxv .btn-black-outline span,
.cid-rPhvtILhxv .btn-white-outline span {
  order: 2;
  font-size: 1.1rem;
  padding-top: 3px;
  transition: padding 0.3s!important;
}
.cid-rPhvtILhxv .btn-primary-outline:hover span,
.cid-rPhvtILhxv .btn-secondary-outline:hover span,
.cid-rPhvtILhxv .btn-info-outline:hover span,
.cid-rPhvtILhxv .btn-success-outline:hover span,
.cid-rPhvtILhxv .btn-warning-outline:hover span,
.cid-rPhvtILhxv .btn-danger-outline:hover span,
.cid-rPhvtILhxv .btn-black-outline:hover span,
.cid-rPhvtILhxv .btn-white-outline:hover span {
  padding-left: 10px;
}
.cid-rPhvtILhxv .btn-primary-outline:hover,
.cid-rPhvtILhxv .btn-secondary-outline:hover,
.cid-rPhvtILhxv .btn-info-outline:hover,
.cid-rPhvtILhxv .btn-success-outline:hover,
.cid-rPhvtILhxv .btn-warning-outline:hover,
.cid-rPhvtILhxv .btn-danger-outline:hover,
.cid-rPhvtILhxv .btn-black-outline:hover,
.cid-rPhvtILhxv .btn-white-outline:hover {
  background-color: transparent!important;
  color: #f9e2af !important;
  box-shadow: none!important;
}
.cid-rPhvtILhxv .btn-primary-outline:active,
.cid-rPhvtILhxv .btn-secondary-outline:active,
.cid-rPhvtILhxv .btn-info-outline:active,
.cid-rPhvtILhxv .btn-success-outline:active,
.cid-rPhvtILhxv .btn-warning-outline:active,
.cid-rPhvtILhxv .btn-danger-outline:active,
.cid-rPhvtILhxv .btn-black-outline:active,
.cid-rPhvtILhxv .btn-white-outline:active,
.cid-rPhvtILhxv .btn-primary-outline:focus,
.cid-rPhvtILhxv .btn-secondary-outline:focus,
.cid-rPhvtILhxv .btn-info-outline:focus,
.cid-rPhvtILhxv .btn-success-outline:focus,
.cid-rPhvtILhxv .btn-warning-outline:focus,
.cid-rPhvtILhxv .btn-danger-outline:focus,
.cid-rPhvtILhxv .btn-black-outline:focus,
.cid-rPhvtILhxv .btn-white-outline:focus {
  background-color: transparent!important;
  box-shadow: none!important;
}
.cid-rPhvtILhxv .btn-primary-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-secondary-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-info-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-success-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-warning-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-danger-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-black-outline .mbr-iconfont,
.cid-rPhvtILhxv .btn-white-outline .mbr-iconfont {
  margin-right: 0!important;
  padding-left: 0.4rem;
}
.cid-rPhvtILhxv .card-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 3rem 1.2rem 1.2rem 1.2rem;
  border-radius: 8px;
  transition: all 0.3s;
}
.cid-rPhvtILhxv .card-wrapper:hover {
  box-shadow: 0 10px 55px 5px rgba(251, 219, 222, 0.35);
  transform: translateY(-1.5rem);
}
.cid-rPhvtILhxv .link-wrap {
  position: relative;
  padding-top: 14px;
}
.cid-rPhvtILhxv .link-wrap:hover {
  color: #f9e2af !important;
}
.cid-rPhvtILhxv .link-wrap:hover:hover .link-ico {
  color: #f9e2af !important;
}
.cid-rPhvtILhxv .line {
  width: 150%;
  height: 1px;
  background: lightgray;
  position: absolute;
  top: 0;
  left: -25%;
}
.cid-rPhvtILhxv img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.cid-rPhvtILhxv .card-title {
  color: #149dcc;
  text-align: center;
}
.cid-rPhvtILhxv .row {
  justify-content: center;
}
.cid-rPhvtILhxv .main-title {
  text-align: center;
  color: #232323;
}
.cid-rPhvtILhxv P {
  text-align: center;
}
.cid-rPhvtILhxv .mbr-text,
.cid-rPhvtILhxv .link {
  text-align: center;
  color: #767676;
}
@media (max-width: 576px) {
  .cid-rPhvtILhxv .card-wrapper:hover {
    transform: none;
    box-shadow: none;
  }
}
.cid-rPhBjQJJ54 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  background-color: #232323;
}
.cid-rPhBjQJJ54 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cid-rPhBjQJJ54 ul li {
  padding: 1rem 0;
}
.cid-rPhBjQJJ54 ul li:hover {
  color: #f9e2af;
}
.cid-rPhBjQJJ54 .socicon {
  color: #fff;
  font-size: 1.5rem;
}
.cid-rPhBjQJJ54 .mbr-iconfont {
  margin-right: 1em;
  display: inline-block;
  vertical-align: bottom;
}
.cid-rPhBjQJJ54 .google-map {
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  position: relative;
}
.cid-rPhBjQJJ54 .map {
  padding: 0;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rPhBjQJJ54 .map iframe {
  -webkit-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .cid-rPhBjQJJ54 .map {
    height: auto;
  }
}
.cid-rPhBjQJJ54 .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.cid-rPhBjQJJ54 .social-list .soc-item {
  padding: 0;
  margin: 2rem 2rem 0 0;
  display: inline-block;
}
.cid-rPhBjQJJ54 .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rPhBjQJJ54 .social-list a:hover {
  opacity: 1;
}
.cid-rPhBjQJJ54 .row-element,
.cid-rPhBjQJJ54 .image-element {
  padding: 0;
}
.cid-rPhBjQJJ54 .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rPhBjQJJ54 .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #f9e2af, #f5aeb5);
  display: inline-block;
}
@media (min-width: 1500px) {
  .cid-rPhBjQJJ54 .text-content {
    padding: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 1499px) {
  .cid-rPhBjQJJ54 .text-content {
    padding: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-rPhBjQJJ54 .text-content {
    padding: 2rem 1rem;
  }
  .cid-rPhBjQJJ54 .underline .line {
    height: 2px;
  }
  .cid-rPhBjQJJ54 .mbr-title,
  .cid-rPhBjQJJ54 .underline,
  .cid-rPhBjQJJ54 .mbr-text,
  .cid-rPhBjQJJ54 .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-rPhBjQJJ54 .mbr-title,
.cid-rPhBjQJJ54 .underline {
  color: #ffffff;
  text-align: center;
}
.cid-rPhBjQJJ54 .mbr-text,
.cid-rPhBjQJJ54 .mbr-section-btn {
  color: #ffffff;
}
.cid-rPhBjQJJ54 mbr-list LI {
  color: #ffffff;
}
.cid-rPhBjQJJ54 mbr-list {
  text-align: center;
}
.cid-rPhBjQJJ54 .mbr-list,
.cid-rPhBjQJJ54 .social-list mbr-list {
  color: #ffffff;
}
.cid-rPhBjQJJ54 .mbr-text {
  text-align: right;
}
